.heading--1 {
  font-size: 5.5rem;
  font-style: normal;
  color: $color-h3;
  line-height: 1;
}
.heading--3 {
  font-size: 3.5rem;
  font-style: normal;
  color: $color-h3;
}

.p-3 {
  color: $color-p3;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.8;
}

.p-4 {
  font-size: 3rem;
  color: $color-h3;
}

// UTILITY
.mb-sm {
  margin-bottom: 2rem;
}
.mb-lg {
  margin-bottom: 10rem;
}
.mt-bg {
  margin-bottom: 6rem;
}
